body{
    background-color: rgb(255, 255, 255);
}

.recargarPag{
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    font-size: 18px;
    color: red;
}

table {
    width: 100%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  .background-table{
    background-color: rgb(149, 233, 248);
  }